<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
        <link rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand"><i class="fab fa-ebay bg-warning p-1"></i></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#divCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="divCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/" class="nav-link">Navbar</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Wishlist</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        